body {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @blue;
  background-color: @white;
    outline: 1px solid grey;
}

@media @tablet {
  body {
    width: 660px;
    padding: 0;
    margin: 0 auto;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @blue;
    background-color: @white;
    outline: 1px solid grey;
  }
}
@media @desktop {
  body {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}
