.contacts {
  padding-top: 50px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.contacts__title {
  padding-bottom: 18px;
}
.contacts-item__title {
  font-weight: 700;
  font-size: 18px;
}
.contacts-item__content {
  color: @pink;
}

.contacts-item--2 {
  margin-bottom: 20px;
  margin-top: 20px;
}


@media @tablet {
  .contacts {
    padding-bottom: 0;
  }

  .contacts__title {
    margin: 0 145px;
    padding-bottom: 50px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts-item {
    width: 300px;
  }
  .contacts-item:not(:last-child) {
      margin-bottom: 43px;
  }
  .contacts-item--2 {
    margin-top: 0px;
  }
  .contacts-item__title {
    margin-bottom: 4px;
  }
}

@media @desktop {
  .contacts {
    padding: 0px 130px;
    padding-top: 65px;
  }
  .contacts__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .contacts-item {
    width: 200px;
    &--2 {
      order: 1;
    }
  }
}
