.features-block {
  margin-bottom: 50px;
  text-align: center;
}

.features-block__wrapper {
  padding: 270px 20px;
  padding-top: 85px;
  background-color: @lightgrey;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 540px;
}

.features-block__wrapper--white {
  background: @white;

  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: 45px;
}
.features-block__title {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 300;
  font-size: 24px;
  line-height: auto;

  &--tablet {
    margin-bottom: 0;
  }
}
.features-block__item-title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
}

.features-block__text {
  margin: 0;
  margin-bottom: 40px;
}

.features-block__research {
    display: none;
  }


@media @tablet {
  .features-block {
    margin-bottom: 100px;
    padding-bottom: 0;
    background-color: @white;
    text-align: left;
  }

  .features-block__wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;
    padding: 70px 20px;
    padding-left: 330px;
    padding-bottom: 0;
    background-image: none;
    background-color: @lightgrey;

    &--white {
      display: flex;
      width: auto;
      margin-bottom: 45px;
      padding: 0;
      flex-direction: column;
      align-items: center;
      background-color: @white;
    }
  }
  .features-block__item {
    display: flex;
    flex-direction: column;
  }

  .features-block__research {
    display: flex;
    flex-direction: column;
    padding-left: 330px;
    padding-bottom: 30px;

    &-title {
      display: block;
      width: 170px;
      margin-bottom: 20px;

      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
    }

    &-more {
      display: block;
      color: @pink;
    }
  }

  .features-block__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    margin: 0;

    &--tablet {
      width: 337px;
      text-align: center;
    }
  }
}
