.form-block {
  border: 0;
  padding-top: 40px;

  &--grey {
    background-color: @lightgrey;
  }
}

.form-block__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
}

.form-block__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form-block__textarea-comment {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
