.intro-block {
  color: @white;
}

.intro-block__title {
  display: none;
}


@media @tablet {
  .intro-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .intro-block__title {
  display: block;
}






}
