.main-slogan {
  text-align: center;
  padding: 45px 20px;

  &--bottom {
      padding: 35px 20px;
    }
}

.main-slogan__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media @tablet {
  .main-slogan {
    text-align: center;
    margin: 0;
    padding: 80px 60px 62px 60px;

    &--bottom {
      width: 430px;
      padding: 70px 120px;
    }
  }
  .main-slogan__text {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

@media @desktop {
  .main-slogan {
    width: 571px;
    text-align: center;
    margin: 0;
    padding: 100px 315px;
    padding-bottom: 95px;

    &--bottom {
      width: 423px;
      padding: 60px 390px;
    }
  }
}
