.main-slogan {
  text-align: center;
  padding: 45px 20px;

  &--bottom {
      padding: 35px 20px;
    }
}

.main-slogan__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media @tablet {
  .main-slogan {
    text-align: center;
    margin: 0;
    padding: 80px 60px 62px 60px;

    &--bottom {
      margin-top: 60px;
    }
  }
  .main-slogan__text {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
