


@media @tablet {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media @desktop {
.page-header {
  background-color: rgba(27, 37, 47, 0.7);
  }
}
