.page-footer {
  display: flex;
  height: 284px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
.page-footer--index {
  display: none;
}

.page-footer__copyright {
  display: flex;
  width: 130px;
  flex-direction: row;
  justify-content: space-between;
}

@media @tablet {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 37px 20px;
    padding-bottom: 50px;
  }
  .page-footer__copyright {
    display: flex;
    width: 130px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media @desktop {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 130px;
    padding-bottom: 0px;
  }
  .page-footer__copyright {
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-between;
  }
}
