.page-header {
  position: relative;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-color: @darkblue;
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: auto;
  text-align: center;
  color: @white;
  padding: 31px 40px 83px 40px;
  margin: 0;
}

@media @tablet {
  .page-header {
    position: relative;
    height: 695px;
    padding-top: 0;
    background-image: url("/img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
  .page-header__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: @white;
    padding: 15px 40px 85px 40px;
  }
}

@media @desktop {
.page-header {
    display: flex;
    flex-direction: column;
  }
}
