.page-header {
  position: relative;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-color: @darkblue;

}

.page-header__wrapper {
  padding: 22px 20px;
  background-color: rgba(29,38,49, 0.3);
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: auto;
  text-align: center;
  color: @white;
  padding: 15px 40px 85px 40px;
}
