.panorama {
  margin-bottom: 20px;
}

.panorama__wrapper {
  padding: 0 20px;
  outline: 1px solid green;
}
.photo-fullscreen__figure-panorama {

}

.photo-fullscreen__img {
  display: block;
}

.photo-fullscreen__link-panorama {
    display: block;
    height: 138px;
    margin: 0;
    padding: 0;
}

@media @tablet {
  .panorama {
    margin-bottom: 50px;
  }

  .panorama__wrapper {
    padding: 0 20px;
    outline: 1px solid green;
  }
  .photo-fullscreen__figure-panorama {
    width: 660px;
    height: 509px;
    margin: 0;
  }
  .photo-fullscreen__link-panorama {
    display: block;
    width: 660px;
    height: 509px;
    margin: 0;
  }

  .photo-fullscreen__img {
  display: block;
  width: 660px;
  height: 509px;
  }
}

@media @desktop {
  .panorama {
    margin-bottom: 50px;
  }

  .panorama__wrapper {
    padding: 0 130px;
    outline: 1px solid green;
  }
  .photo-fullscreen__figure-panorama {
    margin: 0;
  }
  .photo-fullscreen__link {
    display: block;
    margin: 0;
  }
}
