.panorama {
  margin-bottom: 20px;
}

.panorama__wrapper {
  padding: 0 20px;
  outline: 1px solid green;
}
.photo-fullscreen__figure-panorama {
  height: 138px;
  margin: 0;
}


@media @tablet {
  .panorama {
    margin-bottom: 50px;
  }

  .panorama__wrapper {
    padding: 0 20px;
    outline: 1px solid green;
  }
  .photo-fullscreen__figure-panorama {
    height: 510px;
    margin: 0;
  }
}

@media @desktop {
  .panorama {
    margin-bottom: 50px;
  }

  .panorama__wrapper {
    padding: 0 130px;
    outline: 1px solid green;
  }
  .photo-fullscreen__figure-panorama {
    height: 510px;
    margin: 0;
  }
}
