.redactor {
  display: flex;
  flex-direction: column;
  background-color: @lightgrey;
  padding-top: 20px;
}

.redactor-form__figure {
  display: block;
  height: 374px;
  margin: 0 auto;
}

.redactor-photofull__link {
  display: block;
  padding: 0 20px;
  width: 280px;
  height: 375px;
}

.redactor-form__item {
  display: flex;
  width: 280px;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.redactor-form__item-container {
  width: 200px;
  padding: 43px 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
}
.redactor-form__item-wrapper {
  margin: 0 auto;
  width: 50px;
  height: 45px;
}
.redactor-form__scale {
  display: block;
  width: 240px;
  height: 2px;
  padding-bottom: 33px;
  border-top: 2px solid @blue;
}
.redactor-form__scale-control {
  position: relative;
  top: -10px;
  left: 192px;

  width: 14px;
  height: 14px;
  background-color: @lightgrey;
  border: 2px solid @pink;
  border-radius: 50%;
}
.redactor-form__scale--mobile-hidden {
  display: none;
}
.redactor-form__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  align-self: stretch;
  padding-top: 38px;
  padding-bottom: 43px;
  border-top: 1px solid #dddfe0;
}
.redactor-form__btn .btn {
  width: 280px;
  height: 55px;
  margin-bottom: 12px;
  border: 3px solid @pink;
  border-radius:  50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @pink;
}
.redactor-form__btn .btn:last-child {
  margin-bottom: 0;
  border-color: #dddfe0;
  color: #e3e4e4;
}
.redactor-form__item-input {
  display: none;
}
.redactor-form__item-label {
  width: 50px;
  height: 45px;
  outline: 1px solid red;
}

@media @tablet {
  .redactor {
    padding: 58px 20px;
    padding-bottom: 54px;
  }
  .redactor-form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: @lightgrey;
  }
  .redactor-form__scale {
    display: none;
  }
  .redactor-form__scale--mobile-hidden {
    display: block;
    width: 202px;
    height: 2px;
    padding-bottom: 0px;
    border-top: 2px solid @blue;
  }
  .redactor-form__scale-control {
    position: relative;
    top: -10px;
    left: 147px;

    width: 14px;
    height: 14px;
    background-color: @lightgrey;
    border: 2px solid @pink;
    border-radius: 50%;

    &--2 {
      left: 26px;
    }
    &--3 {
      left: 96px;
    }
  }
  .redactor-form__item-input {
    display: none;
  }
  .redactor-form__item-label {
    width: 25px;
    height: 25px;
    margin-right: 29px;
    outline: 1px solid red;
  }
  .redactor-form__item {
    width: 275px;
    height: 200px;
    margin-left: 55px;
    padding: 0;
  }
  .redactor-form__item-container {
    display: block;
    width: 275px;
    padding: 0;
  }
  .redactor-form__item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 0;
    padding-bottom: 23px;
    width: 275px;
    height: auto;
    border-bottom: 1px solid #dddfe0;

  &:first-child {
    padding-top: 0;
  }
}
  .redactor-form__figure {
    height: 400px;
    margin: 0;
  }
  .redactor-photofull__link {
    display: block;
    padding: 0;
    height: 400px;
  }
  .redactor-form__btn {
    position: absolute;
    bottom: 28px;
    right: 0px;
    padding: 0;
    border-top: none;
  }
}
