.reviews {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 90px;
}

.reviews__inner {
  overflow: hidden;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
}

.reviews__toggle {

  &--active {
  }
}

.reviews__input {
  display: none;
}

.reviews__items {
  display: flex;
  flex-direction: row;
    justify-content: center;
  width: 300%;
}

.reviews__item {
  margin: 0;
  padding: 0 20px;
}

.reviews__item-description {
  display: none;
}

.reviews__item-title {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  color: black;
  text-align: center;
}

.reviews__item-text {
  margin: 0;
  line-height: 30px;
}

@media @tablet {
  .reviews {
    padding-bottom: 67px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .reviews__item-description {
    display: block;
    line-height: 30px;
  }

  .reviews__item-title {
    margin-bottom: 3px;
    font-size: 20px;
  }

  .reviews__item-text {
    margin-bottom: 34px;
    font-size: 18px;
  }
}

@media @desktop {
  .reviews {
    padding-top: 36px;
    padding-bottom: 41px;
  }

  .reviews__item  {
    padding-top: 150px;
  }

  .reviews__item-title {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__item-text {
    width: 690px;
    align-self: center;
  }
}
