.reviews {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 90px;
}

.reviews__inner {
 overflow: hidden;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
}

.reviews__toggle {

  &--active {
  }
}

.reviews__input {
  display: none;
}

.reviews__items {
  display: flex;
  flex-direction: row;
    justify-content: center;
  width: 300%;
}

.reviews__item {
  margin: 0;
  padding: 0 20px;
}

.reviews__item-title {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  color: black;
  text-align: center;
}

.reviews__item-description {
  margin: 0;
  line-height: 30px;
}
